<%=form_for  @post, html: {multipert: true} do |f|%>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class:'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :summary %>
    <%= f.text_field :summary, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= f.trix_editor :body , class: 'editor'%>
    </div>

  <div class="form-group">
    <%= f.submit 'Create', class:'btn btn-primary' %>
  </div>

<% end %>