<article class="post">
  <section class="post-head mt-2 mb-2">
    <h1 class="card-title"><%= @post.title %></h1>
    <small> <%= @post.created_at.to_date.strftime("%d %B, %Y")%></small>
    |
    <%= link_to 'Change', edit_post_path(@post) %>
    <%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Are you sure?'} %>
  </section>

  <section class="post-body mt-3 mb-2 pt-1">
    <p><%= @post.body.html_safe %></p>
  </section>
</article>

<%= render 'disqus' %>