<!DOCTYPE html>
<html>
  <head>
    <title>MercedesBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="card mt-1">
    <div class="container">
    <div class="nav">
      <a class="navbar-brand">
        <%= image_tag "/assets/mblogo.svg", height: '30', width: '30'%>
        Mercedes-Benz Blog
      </a>
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item ml-2 mr-2">
              <%= link_to 'All Article', posts_path, class:'btn btn-primary'%>
            </li>
            <li class="nav-item ml-2 mr-2">
              <%= link_to 'New Article', new_post_path, class:'btn btn-primary' %>
            </li>
        </ul>
    </div>
    </div>

    <div class="container mt-3 ьи-5">
    <%= yield %>
    </div>

  </div>

</html>
